@font-face {
  font-family: 'rieslingregular';
  src: url('fonts/riesling-webfont.woff2') format('woff2'),
  url('fonts/riesling-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('fonts/Dosis-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anton';
  src: url('fonts/Anton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"Raleway Thin";
  src: url("fonts/Raleway-Thin.eot?") format("eot"),
  url("fonts/Raleway-Thin.woff") format("woff"),
  url("fonts/Raleway-Thin.ttf") format("truetype"),
  url("fonts/Raleway-Thin.svg#Raleway-Thin") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background-image: linear-gradient(to bottom right, black, steelblue, slateblue, rebeccaPurple);
  font-family: "Raleway Thin";
  color: white;
}
nav {
  z-index: 999;
  background: rgb(0,0,128, 0.2);
  border-radius: 3px;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 1%;
  display: flex;
  justify-content: space-between;
}
nav a {
  color: lightgrey;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1%;
}
nav a:hover {
  color: white;
}
a {
  color: white;
}
a:hover {
  filter: drop-shadow(0px 0px 1px lightgrey);
}
button {
  color: white;
  background-color: rgb(255, 20, 147, 0.8);
  border-radius: 3px;
  border-width: 0;
  font-size: 1em;
  font-weight: 700;
  min-width: 10%;
  min-height: 3em;
}
select {
  border-radius: 3px;
  border-width: 0;
}
button:hover {
  filter: drop-shadow(0px 0px 4px white);
}
form.centred {
  width: 80%;
  text-align: center;
  margin: auto;
}
form.centred * {
  min-width: 40%;
  margin: 1%;
  padding: 1%;
}
header {
  background-image: url("img/bgwave.png");
  background-size: auto;
  background-position: center;
  text-align: center;
  font-family: "Raleway Thin";
}
.logo {
  text-transform: uppercase;
  text-shadow: 2px 2px 6px purple;
  font-family: "Anton";
  font-style: italic;
}
header h1.logo {
  font-size: 300%;
}
header h2 {
  color: deeppink;
  text-shadow: 2px 2px 5px black;
  font-size: 150%;
}
article {
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: justify;
}
input {
  margin: 10px;
  border-radius: 5px;
  border: 1px solid steelblue;
}
h3 {
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.artist {
  background-image: linear-gradient(to right, blueviolet, lightseagreen);
  border-radius: 70em;
  padding: .3em 1em;
  color: white;
  cursor: pointer;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.details {
  /* border-radius: 2em;
  border: solid blueviolet; */
  padding: 1%;
  display: none;
  text-align: center;
}
.about_the_artist {
  width: 50px;
}
iframe {
  width: 711px;
  height: 400px;
}
.country {
  float: right;
}

.countries_container {
  width: 30%;
  margin-left: 15%;
  float: left;
}
.artists_container {
  text-align: center;
  width:30%;
  margin-left: 55%;
}
summary {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  padding: 1%;
  margin: 1%;
  border-radius: 10px;
}

summary[name="1"], summary[name="2"], summary[name="3"] {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90%);
}

.city {
  list-style: url("img/city.png");
}
.ig {
  list-style: url("img/instagram.png");
}
footer {
  text-align: center;
}
@media screen and (max-width: 800px) {
  iframe { width: 100%; height: 100%; }
}

@media screen and (max-width: 600px) {
  body { font-size: 0.8em; }
  /* nav { font-size: 0.8em; }
  button { font-size: 0.9em; } */
  form.centred * { min-width: 80%; }
}
